


.column {
float: left;
  width: 10%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
